extends ../layout

block vars
  -var page = 'Houshi Ryokan'
  -var description = 'Houshi Ryokan is one of the world oldest hotels which has been operating in Japan for roughly 1300 years and remained a piece of history in this quickly changing world. In the public eye and the media, the hotel is famous for its age.'

block content
  section.fullscreen.image-bg.parallax.background-multiply
    .background-image-holder
      img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-1.jpg")
    .container.v-align-transform.text-center
      .row
        .col-md-8.col-sm-8.col-md-push-2.col-sm-push-2
          h1.thin.mb0 Houshi Ryokan
          h3.mb32 One of the oldest hotels in the world 
          p.lead.mb32.mb-xs-32 Houshi Ryokan is one of the world oldest hotels which has been operating in Japan for roughly 1300 years and remained a piece of history in this quickly changing world. In the public eye and the media, the hotel is famous for its age.
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="https://twitter.com/dmngdco")
            i.fa.fa-twitter
        li
          a(href="https://www.facebook.com/dmngd")
            i.fa.fa-facebook
        li
          a(href="https://www.instagram.com/dmngd")
            i.fa.fa-instagram
  
  section(style="background: #513B56; color: white; padding-bottom: 100px; padding-top: 120px;")
     .container
       .feed-item
         .row
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             p.lead(style="font-size: 18px;")
               |  In 1994 the hotel was recognized as the oldest one in the world, and held its position for 17 years, after it was recognized, that there is another Japanese hotel, which is even elder. The hotel is more than a family business, it has three strong pillars, the myth about its foundation, its hot spring and the strict rule behind the inheritance of the ownership. Nowadays, the hotel struggles with the problems of this last pillar, its existence (or at least its authenticity) relies on this question.
  
  section(style="background: #525174; color: white; padding-bottom: 0px; padding-top: 120px;")
    .container
      .feed-item
        .row.mb30
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.mb40.text-white.text-center The History of the Houshi Ryokan
            p.lead(style="font-size: 18px;")
              | The first ryokans were built in the 700s and were free rest houses. At that time travelling was a dangerous activity, the infrastructure was underdeveloped, nowadays we cannot imagine, but the travelers had to spend the night often under the stars and many of them died because of starvation. The Buddhist monks intended to improve on these conditions, so they started to set up the so-called ’fuseya’ which were the ancestors of the ryokans.

  section(style="background: #525174; padding-top: 0; padding-bottom: 0;")
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="http://player.vimeo.com/video/114879061?badge=0&title=0&byline=0&title=0")

  section(style="background: #525174; color: white; padding-bottom: 120px; padding-top: 40px;")
     .container
       .feed-item
         .row
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             p.lead(style="font-size: 18px;")
               | According to the description of the Japan Ryokan & Hotel Association, if the visitors want to experience the traditional Japanese culture, ryokans are the best way to do it. The main difference between a Western-style hotel and a ryokan is the fee system, as the ryokan offers one night stay with two meals. The meals are usually served in the guestroom (in some ryokans they are served in a large dining room), although this is different from the room service which is available in a regural hotel. In the ryokans these are beautifully presented, full-course meals, which reflect the Japanese spirit of hospitality. It is common in the ryokans, that at the entrance the guests have to change into slippers or traditional Japanese sandals (zori). Bathes are also traditional parts of the ryokans as in Japan there are many hot springs and the local people value cleanliness.
             p.lead(style="font-size: 18px;")
               | The Houshi Ryokan started to operate in 718 and due to the legend a Buddhist monk, his name was Taicho, hiked up Mt. Hakusan, a sacred place. One night, in his dream the deity of Hakusan appeared and told him about the secret underground hot spring in the village called Awazu, and also told that if he unearth it, with the help of the villagers, it would serve them forever. After that Taicho fulfilled the order, discovered the hot spring, and ordered his disciple Garyo Houshi to build and run a spa there. That is why held, that the Houshi ryokan has divine origin.
             p.lead(style="font-size: 18px;")
               | Beside that this is one of the oldest hotels in the world, this ryokan is also famous for that this is one of the oldest family businesses, it has been managed by 46 generations of the Houshi family. The tradition is that the eldest son inherits the management of the inn and all of them took the name Zengoro. They are raised in this spirit and prepared for this lifetime duty, to protect the hot spring and run the hotel, from their childhood.

  section.image-bg.overlay.parallax.pt180.pb180.pt-xs-80.pb-xs-80.hidden-xs
    .background-image-holder
     img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-1.jpg")
  
  section.projects.p0.visible-xs(style="background: #348AA7; color: #F2E9E4; padding-bottom: 0px;")
   .row.masonry.masonryFlyIn
    .col-md-4.col-sm-6.masonry-item.project
      .image-tile.inner-title.hover-reveal.text-center
        img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-1.jpg")
  
  section(style="background: #348AA7; color: white; padding-bottom: 100px; padding-top: 120px;")
    .container
      .feed-item
        .row.mb30
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.mb40.text-white.text-center Authenticity in the Houshi Ryokan
            p.lead(style="font-size: 18px;")
              | In recent years, a current growth in heritage tourism can be experienced. It offers a degree of security and stability to people. It offers a degree of security and stability to people and in this quickly changing world more and more tourists started to seek this feeling. (Hannam, K. & Knox, D. 2010) The Houshi ryokan is not just an old hotel, but also can be considered as a part of the Japanese heritage with its 1300 years history.
            p.lead(style="font-size: 18px;")
              | People are not only going there because they want to experience the traditional Japan, but also because it is very rare and very interesting to spend a night in such an old, yet still operating hotel. There are many other ryokans which can be considered traditional and authentic, but how many of them can share the similar history? During my research I only found one, namely the Nishiyama Onsen Keiunkan, which is recognized as the oldest hotel in the world according to the Guiness World records, and has been operated by the same family since its foundation. 
            p.lead(style="font-size: 18px;")
              | In 2014 Fritz Schumann, a journalist and photographer made a film about the 46th generation of the family and the viewers get insight about their life and the meaning of being a Houshi. For the eldest sons there was no other choice but continuing the tradition and becoming the next manager of the ryokan. In the film it can be seen, that times are changing and people want to live in a more liberate way, than inherit a position and submit their dreams because of it. In the Houshi ryokan problems occured, when the eldest son passed away in 2013, and there was no other way, but appoint his sister, to be the heir.
            p.lead(style="font-size: 18px;")
              | The film appropriately describes that how difficult is this to her and that she dreamed about a different career, but instead of that, she has to do her obligation. This is definitely not that story, what the tourists think about, when they are looking for authenticity. In this case, for the family (especially for the younger sister) this tradition is an obsolete institution, which stigmatizes her life, and oblige her to do what she does not really want in her life. For her, to keep the tradition (thus the authenticity) is a heavy burden, but also she is the most rightful heir as she has the knowledge how to run the ryokan. She is concerned about its future, and fulfill her obligation even if it is against her will. Although the authenticity is still questioned in this situation, as a woman will be in charge of the duties and not a man, like has been for hundreds of years.
  
  section.image-bg.overlay.parallax.pt180.pb180.pt-xs-80.pb-xs-80.hidden-xs
    .background-image-holder
     img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-2.jpg")
  
  section.projects.p0.visible-xs(style="background: #54BF8F; color: #F2E9E4; padding-bottom: 0px;")
    .row.masonry.masonryFlyIn
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
         img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-2.jpg")

  section(style="background: #54BF8F; color: white; padding-bottom: 100px; padding-top: 120px;")
    .container
      .feed-item
        .row
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            p.lead(style="font-size: 18px;")
              | On the other hand, there are the guests and they have their own interpretations of the ryokan’s authenticity. As Cohen interpret it, ’the postmodern tourists have become less concerned with the authenticitiy of the original’. (Wang, N. 1991) A common tourist for example would not connect the ryokan’s authenticity to the gender of the manager. Their perception about authenticity would not be compromised just because of the fact, that a woman runs the hotel, instead of a man. As I searched more information on the internet about the hotel, most of the articles only mentions that the same family owns since its foundation, but it is not written that according to the tradition, the oldest son inherits the right to run it. The tourists can be easily deceived, because they often have very poor knowledge about their chosen destination.
            p.lead(style="font-size: 18px;")
              | There are other, conspicuous signs of breaking the traditions. As I already mentioned, in the ryokans the visitors have to change their shoes to a zori, right at the entrance. In recent years a lot of ryokans left this custom, so the guests do not need to change their shoes. This can be interpreted like the transformation to satisfy the guests convenience more. In the Houshi, this tradition hasn’t changed, as it can be seen in the video. Although other things, such as the frequent visitors of the ryokan has changed. There were parties with geishas and hostesses, rich and influential guests. Nowadays, there are no parties anymore, and families became the frequent visitors. There are festivals and even there is a museum and a Japanese garden around the hotel. The original culture changes, but with time become generally recognized as authentic.
            p.lead(style="font-size: 18px;")
              | I analysed the Tripadvisor comments about the Houshi (during autumn of 2015), altogether 51 reviews arrived, 10 rated the hotel excellent, 22 very good, and only 3 marked it as terrible. Another interesting fact is that I only found 8 reviews, written in English, the others were written in Japanese. The English visitors only gave excellent and very good ratings. As a German woman wrote ’Since you enter, you put on the slippers and you get your tea you feel like you have entered another time. This is the same thing you do in other ryokans, but because of the size and the age of this one, I guess the feeling is amplified. I felt we were the only non- asians.’ More or less every English comment reflects the same impression. The reviews also reflect that there are more Japanese than Western guests. This is also enhance the authentic atmosphere of the hotel.

  section.image-bg.overlay.parallax.pt180.pb180.pt-xs-80.pb-xs-80.hidden-xs
    .background-image-holder
     img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-3.jpg")
  
  section.projects.p0.visible-xs(style="background: #4C5C68; color: #F2E9E4; padding-bottom: 0px;")
    .row.masonry.masonryFlyIn
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
         img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/houshi-ryokan/houshi-ryokan-3.jpg")
  
  section(style="background: #4C5C68; color: white; padding-bottom: 100px; padding-top: 120px;")
    .container
      .feed-item
        .row.mb30
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.mb40.text-white.text-center Conclusion
            p.lead(style="font-size: 18px;")
              | Thanks to the strict and conservative rule of inheritance, the Houshi could have been operating for more than a thousand years. Although nowadays it can be seen that this strict rule started to let up as a woman will be in charge of the hotel. It is very possible that in the future the family will give up the tradition, to live a more liberal life, and this change would definitely cause the transformation of the hotel’s authenticity. The family has the knowledge and the feelings about this authenticity and a different owner might not adopt these. It is also can be seen that in the family’s interpreation the authenticity means the ownership an their duties, which is rather a burden, meanwhile the tourists (especially from the Western countries) identify it with the real and traditional Japanese culture and hospitality.
  
  section(style="background: #F5F6F1; padding-bottom: 100px;")
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-12
          .tabbed-content.text-tabs
            ul.tabs
              li.active
                include ../about-author-gama

  include ../disqus
  
  include ../mailchimp
