extends ../layout

-var page = 'Perceptions About Destinations'

block content
  section.fullscreen.image-bg.parallax.background-multiply
    .background-image-holder
      img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tatooine.jpg")
    .container.v-align-transform.text-center
      .row
        .col-md-8.col-sm-8.col-md-push-2.col-sm-push-2
          h1.thin.mb32 Perceptions About Destinations
          p.lead.mb32.mb-xs-32 Popular culture and social media have been reproducing our imagination about places from time to time. Nowadays, especially filmmakers have the power to give additional meanings to certain destinations, making them more attractive even if this is not their primary aim.
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="https://twitter.com/dmngdco", target="_blank")
            i.ti-twitter-alt
        li
          a(href="https://www.facebook.com/dmngd", target="_blank")
            i.ti-facebook
  
  section(style="background: #282a38; color: white; padding-bottom: 100px; padding-top: 120px;")
     .container
       .feed-item.mb-xs-48
         .row.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             h3.mb40.text-white.text-center Popular culture and social media have been reproducing our imagination about places from time to time.
             p.lead(style="font-size: 18px;")
               | Nowadays, especially filmmakers have the power to give additional meanings to certain destinations, making them more attractive even if this is not their primary aim. This can be regarded as marketing activity which is beneficial for the tourism, but sometimes the result is questionable. Sometimes stereotypes are enhanced, unfortunately for the locals, sometimes the new meanings fade the old characteristics of the place and create something more interesting than it used to be.
  
  section(style="background: #282a38; padding-top: 0; padding-bottom: 120px;")
    .container
      .row.mb-xs-16
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/0lUusnn7puQ?showinfo=0&amp;rel=0&amp;modestbranding=1")

  section(style="background: #323547; padding-top: 120px; padding-bottom: 100px; color: white;")
    .container
      .feed-item.mb-xs-48
        .row.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            h3.text-white
              | Using places, events and traditions is a common practice in the film industry. Popular cultural place-making has an impact on people imaginaries about destinations and on the tourism as well
              br
              br
              | - Szilvia Gyimothy

  section(style="background: #282a38; color: white; padding-bottom: 120px; padding-top: 120px;")
     .container
       .feed-item.mb-xs-48
         .row.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             p.lead(style="font-size: 18px;")
               | The viewers associate the depicted places with emotions, stories and characters and create a picture in their mind, based upon what they saw in the movie. It is also possible, that people’s first cultural interact with certain places happen through such films. Maybe as in the case of Dracula and the Lord of the Rings, they will be motivated to travel there and see the festival, because of the movie. In a simple way, it can be said, that this is marketing for the given destination, but in fact, the destination just give a cultural background, the focus is not on it, but on the added unrealistic story which is told. The destination is „just” a scenery.
             p.lead(style="font-size: 18px;")
               | In the James Bond movie the filmmakers did not intend do give a different interpretation of the festival, they used it to impress the viewers. It also can be determined, that they served the global imaginaries about Mexico. Most people identify the country with this festival, although this is mainly celebrated in central Mexico (Clausen, 2014) and just enhance a stereotype about the Mexican traditions. Filmmakers often use and emphasize these stereotypes about places and strengthen the preconceptions of travellers. 

  section.image-bg.overlay.parallax.pt180.pb180.pt-xs-80.pb-xs-80
    .background-image-holder
     img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tatooine.jpg")
    .container
     .row
       .col-md-10.col-sm-12.col-md-push-1.text-center
         h2 Star Wars
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="http://www.imdb.com/title/tt0076759/", target="_blank")
            i.fa.fa-film
        li
          span
            a.text-white(href="http://www.starwars.com/databank/luke-skywalker", target="blank") &copy; Copyright Star Wars

  section.projects.p0(style="background: #9A8C98; color: #F2E9E4; padding-bottom: 0px;")
    .row.masonry.masonryFlyIn
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
         img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tataouine%201.jpg")
         .title
           h5.uppercase.mb0 Road Sign in Tunesia
           span 
            a.text-white(href="http://thaifx.deviantart.com/art/Tataouine-Tunisia-roadsign-405637708", target="blank") &copy; Copyright thaifx
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tataouine%202.jpg")
           .title
             span
              a.text-white(href="http://www.starwars.com/the-phantom-menace-behind-the-scenes", target="blank") &copy; Copyright Star Wars
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tataouine%203.jpg")
           .title
             span
              a.text-white(href="http://www.starwars.com/tatooine-history-gallery", target="blank") &copy; Copyright Star Wars
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tataouine%204.jpg")
           .title
             span
              a.text-white(href="http://www.starwars.com/tatooine-history-gallery", target="blank") &copy; Copyright Star Wars
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tataouine%205.jpg")
           .title
             span
              a.text-white(href="http://www.starwars.com/the-phantom-menace-behind-the-scenes", target="blank") &copy; Copyright Star Wars

     .col-md-4.col-sm-6.masonry-item.project
        .image-tile.inner-title.hover-reveal.text-center
            img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Tataouine%206.jpg")
            .title
              span
               a.text-white(href="http://www.starwars.com/the-phantom-menace-behind-the-scenes", target="blank") &copy; Copyright Star Wars
  
  section(style="background: #9A8C98; color: #F2E9E4; padding-bottom: 120px; padding-top: 120px;")
    .container
      .feed-item.mb-xs-48
        .row.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            p.lead(style="font-size: 18px;")
              | In an other example not the destination became the scenery, but the scenery became the destination. For George Lucas’ film, the Star Wars (1977) a village was built in the middle of the desert in Tunisia and served as the Tatooine, an imaginary planet where the main character lived. The filmmakers left the scenery untouched and fans from all over the world went there, to get a piece from the film. In this case the place has a strong hyperreal layer as it had not even existed before the shootings, but because of the hype around the movie, it became a place of pilgrimage. 
  
  section.image-bg.overlay.parallax.pt180.pb180.pt-xs-80.pb-xs-80
   .background-image-holder
    img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%201.jpg")
   .container
    .row
      .col-md-10.col-sm-12.col-md-push-1.text-center
        h2 The Hunger Games
   .align-bottom.text-center
     ul.list-inline.social-list.mb24
       li
         a(href="http://www.imdb.com/title/tt1951266/", target="_blank")
           i.fa.fa-film
       li
         span © Laurent Kronental

  section(style="background: #FE938C; color: white; padding-bottom: 120px; padding-top: 120px;")
    .container
      .feed-item.mb-xs-48
        .row.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            p.lead(style="font-size: 18px;")
              | An actually existing French utopian dream, la cité Pablo Picasso, was used in the recent Hunger Games movie. When people think about Paris, they probably think about the Eiffel tower, Louvre and Notre Dame, but not about this district. More likely, most of them not even heard about it, but it would worth a visit. The most interesting fact about the quarter is that despite its futuristic look, it is 60(!) years old. 

  section.projects.p0(style="background: #FE938C; color: #F2E9E4; padding-bottom: 60px;")
    .row.masonry.masonryFlyIn
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
         img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%202.jpg")
         .title
           h5.uppercase.mb0 Les Tours Aillaud
           span © Laurent Kronental
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%203.jpg")
           .title
             h5.uppercase.mb0 Joseph, 88 ans, Les Espaces d'Abraxas
             span © Laurent Kronental
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%205.jpg")
           .title
             h5.uppercase.mb0 Les Orgues de Flandre
             span © Laurent Kronental
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%206.jpg")
           .title
             h5.uppercase.mb0 Les Tours Aillaud
             span © Laurent Kronental
     .col-md-4.col-sm-6.masonry-item.project
       .image-tile.inner-title.hover-reveal.text-center
           img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%207.jpg")
           .title
             h5.uppercase.mb0 Le Viaduc et les Arcades du Lac
             span © Laurent Kronental

     .col-md-4.col-sm-6.masonry-item.project
        .image-tile.inner-title.hover-reveal.text-center
            img(alt="Pic", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/La%20Cit%C3%A9%20Pablo%20Picasso%208.jpg")
            .title
              h5.uppercase.mb0 Cité du Parc et cité Maurice-Thorez
              span © Laurent Kronental

  section(style="background: #FE938C; color: white; padding-bottom: 120px; padding-top: 60px;")
    .container
      .feed-item.mb-xs-48
        .row.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            p.lead(style="font-size: 18px;")
              | The reason of its existence can be found in the post-war atmosphere of France. To solve the housing problem of the society, this kind of buildings were erected, to serve the needs of the growing population and offer a comfortable and cheap solution, but unfortunately this wasn’t effective, soon after the first blocks were built, poverty and crime started to devastate them. After their construction was terminated, a lot of them has been torn down. Nowadays, the remained buildings slowly decay, however even in this condition, they are facinating. Hopefully, the blockbuster helps to catch wider public attention, thus preserving them to future generations.     

  section(style="background: #9D8189; color: white; padding-bottom: 0; padding-top: 120px;")
     .container
       .feed-item.mb-xs-48
         .row.mb30.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             h3.mb40.text-white.text-center The Social Media
             p.lead(style="font-size: 18px;")
               | Not only films or books shape the imaginaries about destinations, but in the contemporary society there are many other channels, that provide cultural material and used for the creation of translocal connections (Salazar, 2011). 
             p.lead(style="font-size: 18px;")
               | The appearance of Internet and social media, the world became smaller. Using applications like Instagram, Tumblr, people now have these images in their pocket, it is much more easier to create imaginaries about distant places, than a 100 years ago, when people mainly informed about those remote destinations through the word-of-mouth or on some scattered photos. Although this huge amount of information and wide selection of images also have their own disadvantages.
             p.lead(style="font-size: 18px;")
               | Now it is easier for people, to create an opinion about a distant place, which they never visited before, but this also lead to the generation of lot of preconceptions. These images also became commercialised, it is enough to think about the postcards, mugs and fridge magnets, we can touch these places physically, with our hand. With the appearance of digital cameras and smartphones, these images can be anywhere with us, on every electronic devices what we have. 
  
  section(style="background: #9D8189; color: white; padding-bottom: 60px; padding-top: 120px;")
    .container
      .row.v-align-children
        .col-md-6.col-sm-5.mb-xs-24
          p.lead.text-justify(style="font-size: 18px;")
            | Nowadays it is enough to to go on Facebook and browse among the pictures of our friends, to get an overview about a place. If people see a picture of a friend or a famous person on a beautiful place, they will have the feeling that they also want to go there and they want to reproduce this image. 
        .col-md-6.col-sm-6.text-center
          img.cast-shadow(alt="Screenshot", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Post%20Card%201.jpg")

  section(style="background: #9D8189; color: white; padding-bottom: 60px; padding-top: 60px;")
    .container
      .row.v-align-children
        .col-md-6.col-sm-6.text-center
          img.cast-shadow(alt="Screenshot", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Post%20Card%202.jpg")
        .col-md-6.col-sm-5.mb-xs-24
          p.lead.text-justify(style="font-size: 18px;")
            | Media, such as TV, magazines and bloggers also can easily reshape the images of the tourists and there are new practices, like Tripadvisor, where travelers can share their opinions and impressions about a place. Websites, like this have advantages and disadvantages, as they can influence the most the tourists decisions and this way, people have more preconseption than ever. 

  section(style="background: #9D8189; color: white; padding-bottom: 60px; padding-top: 60px;")
    .container
      .row.v-align-children
        .col-md-6.col-sm-5.mb-xs-24
          p.lead.text-justify(style="font-size: 18px;")
            | That is a huge advantage that people can inform on these websites before their trip, but this is also a disadvantage, that others have a subjective opinion and they might perceive differently what is wrong or good, regarding a certain place. 
        .col-md-6.col-sm-6.text-center
          img.cast-shadow(alt="Screenshot", src="http://dmngd-cms-files.s3.amazonaws.com/articles/perceptions-about-destinations/Post%20Card%203.jpg")

  section(style="background: #9D8189; color: white; padding-bottom: 60px; padding-top: 60px;")
     .container
       .feed-item.mb-xs-48
         .row.mb30.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             p.lead(style="font-size: 18px;")
               | The trends show that today’s tourists are more eager to have better insights about the lifestyle of a local population, than ever and travel for experiences. Poor places for example came to be associated with ’authentic’ experiences of culture and nature. Western turists are in search of values that are lost in their society and places can quickly lose their authentic appeal through signs of development (Scheyvens 2011). Tourism is often critised as being an external force it destroys local culture, economies and societies (Scheyvens 2011). 

  section(style="background: #9D8189; padding-top: 0; padding-bottom: 60px;")
    .container
      .row.mb-xs-16
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="http://player.vimeo.com/video/150616881?badge=0&title=0&byline=0&title=0")
  
  section(style="background: #9D8189; color: white; padding-bottom: 120px; padding-top: 60px;")
     .container
       .feed-item.mb-xs-48
         .row.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             p.lead(style="font-size: 18px;")
               | Tourists impressions on certain places shows superficiality, as I mentioned above they believe what they want to believe and do not go beyond the surface, because this image would be damaged. In fact, often tourism operators are, who refuse to reveal the truth, instead force a false image. Tourists are looking for the exotic, which is different from their lifestyle and they do not want to know about that, how residents of a remote location live their life in the same way and have the same fights. 
             p.lead(style="font-size: 18px;")
               | For different stakeholders, local tourism experiences not always connected to the real life and it is normal for the hosts, that tourists, tour operator and entrepreneurs think differently about their home, than they. These oppositions sign, that the stakeholders have different interests, thus their attitude is also different regarding the local.

  section(style="background: #B5969F; color: white; padding-bottom: 120px; padding-top: 120px;")
    .container
      .feed-item.mb-xs-48
        .row.mb30.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.mb40.text-white.text-center Conclusion
            p.lead(style="font-size: 18px;")
              | Spatial imaginaries are strongly connected to the popular culture and the contemporary tourism practices. Stereotypes about destinations are depicted in books and movies movies, whereas they also give different meanings and interpretations of certain places. People’s perception strongly influenced by the picture created in the popular culture. Social media and travel blogs also restructure the travelers opinion and interests.
            p.lead(style="font-size: 18px;")
              | These spatial imaginaries connected to the framing of the ’local’ by different tourism stakeholders. They interpret locality due to their interests and local residents often enhance this false picture in the mind of stakeholders. 
  
  include ../disqus
  
  section(style="padding-top: 30px; padding-bottom: 30px;")
    .container
      .row
        .col-sm-10.col-sm-offset-1
          h4.text-gray.uppercase.color-primary.text-center.mb-xs-24 Sources
          ol
            li Gyimóthy Szilvia (2014) *Bollywood in the Alps. Popular Culture Place making in Tourism
            li Scheyvens, Regina (2011) Tourism and Poverty. Taylor & Francis
            li Salazar, Noel (2011) The Power of Imagination in Transnational Mobilities, Identities: Global Studies in Culture and Power, 18:6, pp. 576-598
            li Simonsen, Kirsten (2008) ’Place as Encounters: practice, conjuction and co-existence’. In Mobilities and Place: Enacting Norther European Peripheries (editors Bærenholdt and Granås) Ashgate, London
            li
              a.btn-link.text-gray(href="http://www.wired.com/2015/11/star-wars-real-life-tatooine-tunisia/") Wired
            li 
              a.btn-link.text-gray(href="http://www.wired.com/2015/11/laurent-kronental-souvenir-dun-futur-french-public-housing-nanterre/") Wired
  
  include ../mailchimp
