extends ../layout

block vars
  -var page = 'User Experience Design'
  -var description = 'User Experience Design (UXD or UED or XD) is the process of enhancing user satisfaction by improving the usability, accessibility, and pleasure provided in the interaction between the user and the product.'

block content
  section.fullscreen.image-bg.parallax.background-multiply
    .background-image-holder
      img.background-image(alt="image", src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/User-Experience-Design-5.jpg")
    .container.v-align-transform.text-center
      .row
        .col-md-8.col-sm-8.col-md-push-2.col-sm-push-2
          h1.thin.mb32 User Experience Design
          p.lead.mb32.mb-xs-32 User Experience Design (UXD or UED or XD) is the process of enhancing user satisfaction by improving the usability, accessibility, and pleasure provided in the interaction between the user and the product.
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="https://twitter.com/dmngdco")
            i.fa.fa-twitter
        li
          a(href="https://www.facebook.com/dmngd")
            i.fa.fa-facebook
        li
          a(href="https://www.instagram.com/dmngd")
            i.fa.fa-instagram
        
  section(style="background: #FF6D5F; color: white;")
     .container
       .feed-item
         .row.mb16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
             h2.text-white What is User Experience?
         .row.mb16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             h3.mb40.text-white.text-center User Experience (UX) involves a person's emotions and attitudes about using a particular product, system or service.
             p.lead(style="font-size: 18px;")
               | User experience includes the practical, experiential, affective, meaningful and valuable aspects of human–computer interaction and product ownership. Additionally, it includes a person’s perceptions of system aspects such as utility, ease of use and efficiency. User experience may be considered subjective in nature to the degree that it is about individual perception and thought with respect to the system.
             p.lead(style="font-size: 18px;")
               | At the core of UX is ensuring that users find value in what you are providing to them. Peter Morville represents this through his User Experience Honeycomb.
             img.mt40(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/UX.png")
           
  section(style="background: #FF6D5F; padding-top: 0px; padding-bottom: 80px;")
    .container
       .row.mb-xs-0.pb-xs-0
         .col-sm-4.mb-xs-40
           h2.text-white.text-center Useful
           p.lead.text-center.text-white Your content should be original and fulfill a need
         .col-sm-4.mb-xs-40
           h2.text-white.text-center Usable
           p.lead.text-center.text-white Site must be easy to use
         .col-sm-4.mb-xs-40
           h2.text-white.text-center Desirable
           p.lead.text-center.text-white Image, identity, brand, and other design elements are used to evoke.text-white emotion and appreciation
       .row.mt40.mt-xs-0
         .col-sm-4.mb-xs-40
           h2.text-white.text-center Findable
           p.lead.text-center.text-white Content needs to be navigable and locatable onsite and offsite
         .col-sm-4.mb-xs-40
           h2.text-white.text-center Accessible
           p.lead.text-center.text-white Content needs to be accessible to people with disabilities
         .col-sm-4
           h2.text-white.text-center Credible
           p.lead.text-center.text-white Users must trust and believe what you tell them
  
  section(style="background: #FF928A; color: white;")
    .container
      .feed-item
        .row
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            img.mb30(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Mike.png")
            h3.text-white
              | If you’re a designer, product person or developer, you’re probably already doing some UX whether you know it or not. 
              | Light on theory and    heavy on practice, this course will help you formalize your instincts into a structured design process and documentation.
              br
              br
              | - Mike Meikson
  
  section(style="background: #FFFCC1; padding-bottom: 40px;")
     .container
       .feed-item.mb-xs-48
         .row.mb16.mb-xs-0
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
             h2.text-gray What is UX Design?
         .row.mb16.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             h3.text-gray.text-center.mb40 User Experience Design (UX Design) is the process of enhancing user satisfaction by improving the usability, accessibility, and pleasure provided in the interaction between the user and the product.
             p.lead.text-gray(style="font-size: 18px;")
               | The field of user experience design has roots in human factors and ergonomics, a field that, since the late 1940s, has focused on the interaction between human users, machines, and the contextual environments to design systems that address the user's experience.
             p.lead.text-gray(style="font-size: 18px;")
               | Software have become progressively more complex as our industry’s technologies and methodologies advance. What used to be a one-way static flow has evolved into a very rich, parallel and interactive experience.
             p.lead.text-gray(style="font-size: 18px;")  
               | UX design encompasses traditional human-computer interaction design, and extends it by addressing all aspects of a product or service as perspectived by users. UX design is how a person feels when interfacing with a system. The system could be a website, a web application or desktop software and, in modern contexts, is generally denoted by some form of human-computer interaction (HCI).
             img.mt40.mb40(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/UX%20Design.png")
             p.lead.text-gray(style="font-size: 18px;")
              | Those who work on UX (called UX designers) study and evaluate how users feel about a system, looking at such things as ease of use, perception of the value of the system, utility, efficiency in performing tasks and so forth.
             p.lead.text-gray(style="font-size: 18px;")
              | Compared to many other disciplines, particularly Web-based systems, UX is relatively new. The term “user experience” was coined by Dr. Donald Norman, a cognitive science researcher who was also the first to describe the importance of user-centered design (the notion that design decisions should be based on the needs and wants of users).

  section(style="background: #FFFCC1; padding-top: 0; padding-bottom: 0;")
    .container
      .feed-item.mb-xs-48
        .row.mb16.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            img.mb30(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Donald.png")
            h3.text-gray
              | I invented the term because I thought human interface and usability were too narrow. I wanted to cover all aspects of the person's experience with the system including industrial design graphics, the interface, the physical interaction and the manual. Since then the term has spread widely, so much so that it is starting to lose its meaning.
              br
              br
              | - Donald Norman
  
  section(style="background: #FFFCC1; padding-top: 40px;")
     .container
       .feed-item.mb-xs-48
         .row.mb16.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             p.lead.text-gray(style="font-size: 18px;")
               | The first requirement for an exemplary user experience is to meet the exact needs of the customer, without fuss or bother. Next comes simplicity and elegance that produce products that are a joy to own, a joy to use. True user experience goes far beyond giving customers what they say they want, or providing checklist features. In order to achieve high-quality user experience in a company's offerings there must be a seamless merging of the services of multiple disciplines, including engineering, marketing, graphical and industrial design, and interface design.
             p.lead.text-gray(style="font-size: 18px;")
               | It's important to distinguish the total user experience from the user interface (UI), even though the UI is obviously an extremely important part of the design. As an example, consider a website with movie reviews. Even if the UI for finding a film is perfect, the UX will be poor for a user who wants information about a small independent release if the underlying database only contains movies from the major studios.
  
  section(style="background: #8DBDCC; padding-bottom: 0;")
    .container
      .feed-item.mb-xs-48
        .row.mb16.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            h2.text-white Good Usability
        .row.mb16.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.text-white.text-center.mb40 Usability means user-centered design. Both the design and development process are focussed around the prospective user — to make sure their goals, mental models, and requirements are met — to build products that are efficient and easy to use.
  
  section(style="background: #8DBDCC; padding-top: 0; padding-bottom: 40px;")
   .container
     .row.v-align-children
       .col-md-7.col-sm-6.text-center.mb-xs-24
         .embed-video-container.embed-responsive.embed-responsive-16by9
           iframe.embed-responsive-item(src="https://www.youtube.com/embed/7OSkB4BCx00?showinfo=0&amp;rel=0&amp;modestbranding=1")
       .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
         h3.text-white User Interface (UX) Techniques
         p.lead.text-white(style="font-size: 18px;")
           | This session will present to the listeners a range of concrete methods and techniques applicable in different phases of a design process, to handle specific challenges in usability.
  
  section(style="background: #8DBDCC; padding-top: 0;")
    .container
      .row.v-align-children
        .col-md-7.col-sm-6.text-center.mb-xs-24
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/wEI-S3sMQnE?showinfo=0&rel=0&modestbranding=1")
        .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
          h3.text-white Usability 101: How To Make a Good Website Great
          p.lead.text-white(style="font-size: 18px;")
            | Everything you need to know about website usability in under two minutes. How to use data-driven design techniques to improve the the online experience for your website visitors.

  section(style="background: #8DBDCC; padding-top: 0;")
    .container.only-headline
      .row
        .col-sm-6.col-md-4.col-md-offset-2
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-pagelines.icon-sm.text-white
            .right
              h4.text-white Simple and natural dialogue
        .col-sm-6.col-md-4
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-language.icon-sm.text-white
            .right
              h4.text-white Speak the user's language
              
        .col-sm-6.col-md-4.col-md-offset-2
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-tasks.icon-sm.text-white
            .right
              h4.text-white Minimize memory load
        .col-sm-6.col-md-4
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-exclamation-triangle.icon-sm.text-white
            .right
              h4.text-white Use constructive error messages
              
        .col-sm-6.col-md-4.col-md-offset-2
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-retweet.icon-sm.text-white
            .right
              h4.text-white Support recall
        .col-sm-6.col-md-4
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-sign-out.icon-sm.text-white
            .right
              h4.text-white Make clear exits
              
        .col-sm-6.col-md-4.col-md-offset-2
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-scissors.icon-sm.text-white
            .right
              h4.text-white Make shortcuts
        .col-sm-6.col-md-4
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-comment.icon-sm.text-white
            .right
              h4.text-white Give feedback
        
        .col-sm-6.col-md-4.col-md-offset-2
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-exclamation-circle.icon-sm.text-white
            .right
              h4.text-white Prevent errors
        .col-sm-6.col-md-4
          .feature.feature-3.mb-xs-24
            .left
              i.fa.fa-bars.icon-sm.text-white
            .right
              h4.text-white Thrive for consistency

  section(style="background: #1B1202;")
    .container
      .row.mb30.mb-xs-0
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
          h2.text-light-yellow The Process
      .row
        .col-sm-4.text-center
          .feature
            img.mb40(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Collecting%20Information.png")
            h4.text-light-yellow Collecting information
            p.text-light-yellow.lead
              | The UX designer needs to find out as much as he can about people, process and products before the design phase. 
        .col-sm-4.text-center
          .feature
            img.mb40(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Getting%20Ready.png")
            h4.text-light-yellow Getting ready to design
            p.text-light-yellow.lead
              | The designer uses paper prototyping and white boarding to come up with a basic design from the data collected about the problem.
        .col-sm-4.text-center
          .feature
            img.mb40(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Design.png")
            h4.text-light-yellow Design
            p.text-light-yellow.lead
              | Low fidelity design prototypes created in the earlier step are refined. The high fidelity prototypes are left for the visual designers.
      .row
        .col-md-12
          img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/The%20Design%20Process.png", style="width: 100%;")

  section(style="background: #a37e58; padding-bottom: 0;")
    .container
      .feed-item.mb-xs-48
        .row.mb16.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            h2.text-light-yellow UX Designer Tools
        .row.mb16.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.text-light-yellow.text-center.mb40 UX designers' main goal is to solve the end-users' problems. Communicating the design is a critical part of the design process. A designer may have the best design created, but if they cannot communicate it well to their stakeholders and developers, the design will fail.
      .row
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Surveying.png")
            h4.text-light-yellow Surveying
        
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Focus%20Group%20Administration.png")
            h4.text-light-yellow Focus Group Administration
        
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Mood%20Boards.png")
            h4.text-light-yellow Mood Boards
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Preference%20Interviews.png")
            h4.text-light-yellow Interviews
      .row  
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Card%20Sorting.png")
            h4.text-light-yellow Card Sorting
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Customer%20Feedback%20and%20Testing.png")
            h4.text-light-yellow Customer Feedback and Testing
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Analytics.png")
            h4.text-light-yellow Analytics
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Personas.png")
            h4.text-light-yellow Personas
      .row    
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Wireframing.png")
            h4.text-light-yellow Wireframing
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Diagraming.png")
            h4.text-light-yellow Diagraming
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Prototypeing.png")
            h4.text-light-yellow Prototyping
            
        .col-sm-3.text-center
          .feature
            img(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Testing.png")
            h4.text-light-yellow A/B Testing
  
  section(style="background: #a37e58; padding-top: 60px; padding-bottom: 20px;")
    .container
      .row.v-align-children
        .col-md-7.col-sm-6.text-center.mb-xs-24
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/FTzHeYPB9c8?showinfo=0&rel=0&modestbranding=1")
        .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
          h3.text-light-yellow Card Sorting Technique - Planning a website
          p.lead.text-light-yellow(style="font-size: 18px;")
            | Creating a website sitemap in my opinion is the first crucial step to defining the requirements of a website project. The technique I use is an oldie but a goodie and using a simple mindmapping technique that we've called the "card sorting technique".
  
  section(style="background: #a37e58; padding-top: 0px; padding-bottom: 20px;")
    .container
      .row.v-align-children
        .col-md-7.col-sm-6.text-center.mb-xs-24
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/9Xf8P38YpZo?showinfo=0&rel=0&modestbranding=1")
        .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
          h3.text-light-yellow How To Use A Moodboard To Create A Logo
          p.lead.text-light-yellow(style="font-size: 18px;")
            | A mood board is a type of collage consisting of images, text, and samples of objects in a composition. They may be physical or digital, and can be "extremely effective" presentation tools.
  
  section(style="background: #a37e58; padding-top: 0px; padding-bottom: 20px;")
    .container
      .row.v-align-children
        .col-md-7.col-sm-6.text-center.mb-xs-24
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/B23iWg0koi8?showinfo=0&rel=0&modestbranding=1")
        .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
          h3.text-light-yellow How To Create UX Personas
          p.lead.text-light-yellow(style="font-size: 18px;")
            | Gregg Bernstein describes how to perform basic user research, turn that research into personas to inform your design decisions, and get everybody in your team on board with using them.
  
  section(style="background: #a37e58; padding-top: 0px;")
    .container
      .row.v-align-children
        .col-md-7.col-sm-6.text-center.mb-xs-24
          .embed-video-container.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/bi2JMRpL9Ik?showinfo=0&rel=0&modestbranding=1")
        .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
          h3.text-light-yellow Better User Research Through Surveys
          p.lead.text-light-yellow(style="font-size: 18px;")
            | Surveys are often executed badly but can be a formidable tool for user research. Chris shows us how to build an effective survey to collect the most valuable information from our users.
      .row
        .col-md-4.col-md-offset-4.mt40
          a.btn.btn-lg.btn-white.center-block(href="http://uxmastery.com/resources/techniques/", target="blank") See more on uxmastery.com

  section(style="background: #ffeec4;")
    .container
      .feed-item.mb-xs-48
        .row.mb16.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            h2.text-gray Designers
        .row.mb16.mb-xs-16
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            h3.text-gray.text-center.mb40 As with the fields mentioned above, user experience design is a highly multi-disciplinary field, incorporating aspects of psychology, anthropology, architecture, sociology, computer science, graphic design, industrial design and cognitive science. 
            p.lead.text-gray(style="font-size: 18px;") Depending on the purpose of the product, UX may also involve content design disciplines such as communication design, instructional design, and game design. The subject matter of the content may also warrant collaboration with a subject-matter expert on planning the UX from various backgrounds in business, government, or private groups. More recently, content strategy has come to represent a sub-field of UX.
            
            h4.text-gray.mt40 Graphic designers
            p.lead.text-gray(style="font-size: 18px;") Graphic designers focus on the aesthetic appeal of the design. Information is communicated to the users through text and images. but a lot of importance is given to how the text and images look and attract the users. Graphic designers have to make choices like font color, font type, image locations etc. Graphic designers focus to grab the user's attention with the way the design looks.
            
            h4.text-gray.mt40 Visual designers
            p.lead.text-gray(style="font-size: 18px;") While a graphic designer focuses majorly on the types of graphics and placement of graphics on the screen, the visual designer focuses on the holistic view of the design that can be applicable across multiple platforms. Visual designers, like graphical designers, concentrate on the look and feel of the design and work on how the look and feel can be maintained across different platforms where the design will be deployed.
            
            h4.text-gray.mt40 User experience designers
            p.lead.text-gray(style="font-size: 18px;") User experience designers focus on how users interact with the design, rather than focusing on the look and feel of the website. User experience designers focus on usability of the design, making sure that the users face as few issues as possible while using the design. They usually create prototypes and blueprints of the design, to understand how users use the design. They are responsible for all the interactions that take place on a design right from basic interactions like clicking on a button.
  
  section(style="background: #fff9e5;")
    .container
      .feed-item.mb-xs-48
        .row.mb16.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            h2.text-gray 15 Principles

      .row.mt40
        .col-sm-4
          h3.text-gray Accessibility
          p.lead.text-gray(style="font-size: 18px;")
            | Things should be designed to be usable, without modification, by as many people as possible. Make things usable by everyone.
        .col-sm-4
          h3.text-gray Feature Creep
          p.lead.text-gray(style="font-size: 18px;")
            | A continous expansion or addition of new product features. Ensure features are linked to customer needs, because adding features adds complexity, and complexity is expensive.
        .col-sm-4
          h3.text-gray Consistency
          p.lead.text-gray(style="font-size: 18px;")
            | Usability and learnability improve when similar things have similar meanings and functions.
      
      .row.mt40
        .col-sm-4
          h3.text-gray Aesthetic-Usability
          p.lead.text-gray(style="font-size: 18px;")
            | Attractive design is perceived to be easier to use than less attractive one.
        .col-sm-4
          h3.text-gray Flexibility Trade-Offs
          p.lead.text-gray(style="font-size: 18px;")
            | As the flexibility of a design increases, the usability and performance of design decreases.
        .col-sm-4
          h3.text-gray Crowd Intelligence
          p.lead.text-gray(style="font-size: 18px;")
            | An emergent intelligence arising from the unwitting collaboration of many people.
      
      .row.mt40
        .col-sm-4
          h3.text-gray Hierarchy
          p.lead.text-gray(style="font-size: 18px;")
            | Hierarchies are the simplest way to visualize and understand complex information.
        .col-sm-4
          h3.text-gray Iconic representation
          p.lead.text-gray(style="font-size: 18px;")
            | The use of pictorial images to improve rcognition and recall.
        .col-sm-4
          h3.text-gray KISS
          p.lead.text-gray(style="font-size: 18px;")
            | Keep it simple stupid. Simple design work better and are more reliable.
            
      .row.mt40
        .col-sm-4
          h3.text-gray Scaling Fallacy
          p.lead.text-gray(style="font-size: 18px;")
            | Design that work at one scale often do not work at smaller or larger scales.
        .col-sm-4
          h3.text-gray Iconic Confirmation
          p.lead.text-gray(style="font-size: 18px;")
            | A technique for preventing errors by requiring verification before actions are performed.
        .col-sm-4
          h3.text-gray Constraint
          p.lead.text-gray(style="font-size: 18px;")
            | Limiting the actions that can be performed to simplify use and prevent errors.
      
      .row.mt40
        .col-sm-4
          h3.text-gray Control
          p.lead.text-gray(style="font-size: 18px;")
            | The level of user control should be related to the proficiency and experience of the user.
        .col-sm-4
          h3.text-gray Errors
          p.lead.text-gray(style="font-size: 18px;")
            | An action or a mission of an action yielding an unintended result.
        .col-sm-4
          h3.text-gray Feedback Loop
          p.lead.text-gray(style="font-size: 18px;")
            | A cycle in which output feeds back into a system as input, changing subsequent output.
  
  section(style="background: #F5F6F1; padding-bottom: 100px;")
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-12
          .tabbed-content.text-tabs
            ul.tabs
              li.active
                include ../about-author-krta
              li
                .tab-title
                    span Sources
                .tab-content.text-left
                  p
                    a.btn-link.text-gray(href="http://www.smashingmagazine.com/2010/10/what-is-user-experience-design-overview-tools-and-resources") Smashing Magazine
                  p 
                    a.btn-link.text-gray(href="http://www.nngroup.com/articles/definition-user-experience/") NNGroup
                  p 
                    a.btn-link.text-gray(href="https://generalassemb.ly/education/user-experience-design") General Assemb
                  p 
                    a.btn-link.text-gray(href="http://www.usability.gov/what-and-why/user-experience.html") Usability.gov
                  p 
                    a.btn-link.text-gray(href="http://uxmastery.com/resources/techniques/") UX Mastery
                  p 
                    a.btn-link.text-gray(href="https://en.wikipedia.org/wiki/User_experience") Wikipedia
                  p 
                    a.btn-link.text-gray(href="https://en.wikipedia.org/wiki/User_experience_design") Wikipedia
                  p 
                    a.btn-link.text-gray(href="http://www.amazon.com/Universal-Principles-Design-Revised-Updated/dp/1592535879/ref=la_B001HP93DM_1_1?s=books&ie=UTF8&qid=1448992994&sr=1-1") Universal Principles of Design
  
  include ../disqus
  
  include ../mailchimp
