extends ../layout

-var page = 'User Experience Design'

block content
  section.cover.fullscreen.image-slider.slider-arrow-controls.controls-inside.parallax
    ul.slides
      li.overlay.image-bg
        .background-image-holder
          img.background-image(alt="ux-design scene", src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/User%20Experience%20Design%205.jpg")
        
  section(style="background: #FF6D5F; color: white;")
     .container
       .feed-item.mb-xs-48
         .row.mb16.mb-xs-0
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
             h2.text-white What is User Experience?
         .row.mb16.mb-xs-16
           .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
             h3.text-white.text-center User Experience (UX) involves a person's emotions and attitudes about using a particular product, system or service.
             p.lead(style="font-size: 18px;")
               | User experience includes the practical, experiential, affective, meaningful and valuable aspects of human–computer interaction and product ownership. Additionally, it includes a person’s perceptions of system aspects such as utility, ease of use and efficiency. User experience may be considered subjective in nature to the degree that it is about individual perception and thought with respect to the system.
             p.lead(style="font-size: 18px;")
               | At the core of UX is ensuring that users find value in what you are providing to them. Peter Morville represents this through his User Experience Honeycomb.
             img.mt40(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/UX.png")
           
  section(style="background: #FF6D5F; padding-top: 0px; padding-bottom: 30px;")
    .container
       .row
         .col-sm-4
           h2.text-white.text-center Useful
           p.lead.text-center.text-white Your content should be original and fulfill a need
         .col-sm-4
           h2.text-white.text-center Usable
           p.lead.text-center.text-white Site must be easy to use
         .col-sm-4
           h2.text-white.text-center Desirable
           p.lead.text-center.text-white Image, identity, brand, and other design elements are used to evoke.text-white emotion and appreciation
    
  section(style="background: #FF6D5F; padding-top: 30px; padding-bottom: 80px;")
    .container
       .row
         .col-sm-4
           h2.text-white.text-center Findable
           p.lead.text-center.text-white Content needs to be navigable and locatable onsite and offsite
         .col-sm-4
           h2.text-white.text-center Accessible
           p.lead.text-center.text-white Content needs to be accessible to people with disabilities
         .col-sm-4
           h2.text-white.text-center Credible
           p.lead.text-center.text-white Users must trust and believe what you tell them
  
  section(style="background: #FF928A; color: white;")
    .container
      .feed-item.mb-xs-48
        .row.mb16.mb-xs-0
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
            img.mb30(src="http://dmngd-cms-files.s3.amazonaws.com/articles/ux-design/Mike.png")
            h3.text-white
              | If you’re a designer, product person or developer, you’re probably already doing some UX whether you know it or not. 
              | Light on theory and    heavy on practice, this course will help you formalize your instincts into a structured design process and documentation.
              br
              br
              | - Mike Meikson
