.tab-title
  span About the author
.tab-content
  .pull-left(style="width: 15%;")
    img.avatar.img-rounded.pull-left(src="http://dmngd-cms-files.s3.amazonaws.com/authors/Krisztian%20Tabori.jpg", style="width: 100px;")
  .pull-left(style="width: 85%;")
    p.lead(style="font-size: 18px; margin-left: 20px;") My name is Krisztian, I'm a startup minded creative developer from Copenhagen. Partner + Lead UX at Dixa, previously at Danish Broadcasting Corporation.
