.tab-title
  span About the author
.tab-content
  .pull-left(style="width: 15%;")
    img.avatar.img-rounded.pull-left(src="http://dmngd-cms-files.s3.amazonaws.com/authors/Gabriella%20Mandrik.png", style="width: 100px;")
  .pull-left(style="width: 85%;")
    p.lead(style="font-size: 18px; margin-left: 20px;") My name is Gabriella Mandrik. I am a master student of tourism at AAU Copenhagen.
