section.pt60
  .container
    .row
      .col-sm-8.col-sm-offset-2
        #disqus_thread
        script
          | (function() {
          | var d = document, s = d.createElement('script');
          | s.src = '//dmngdco.disqus.com/embed.js';
          | s.setAttribute('data-timestamp', +new Date());
          | (d.head || d.body).appendChild(s);
          | })();
        noscript
          | Please enable JavaScript to view the
          | a(href="https://disqus.com/?ref_noscript", rel="nofollow") comments powered by Disqus.
